---
---

@import "{{ site.theme }}";

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

.image-50-right {
  width: 50%;
  float: right;
  padding-left: 10px;
}
