---
---

@import "{{ site.theme }}";

table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
}

.projects-table, .projects-table table, .projects-table th {
  border: 0px;
}

.projects-table td {
  border: 0px;
  padding: 10px
}

.image-40-left {
  width: 40%;
  float: left;
  padding-right: 10px;
}

.image-40-right {
  width: 40%;
  float: right;
  padding-left: 10px;
}

.image-50 {
  max-width: 50%;
  float: left;
}

.project-logo-image {
  max-width: 100px;
  max-height: 100px;
}

.site-nav {
  float: left;
  padding-left: 30px;
}

.site-header {
  border-bottom: none;
}

#mc_embed_signup {
  border-top: none;
}

@media screen and (max-width: 600px) {
  .site-nav {
    padding-left: 0px;
  }
}