---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

        {%- if page.last_modified_at -%}
          Last updated: {{ page.last_modified_at | date: date_format }}
        {%- else -%}
          Last updated: {{ page.date | date: date_format }}
        {%- endif -%}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author | escape }}</span></span>
      {%- endif -%}</p>
  </header>

  <div id="flex">
    <!-- TODO: Move this below content div for mobile -->
    <!-- TODO: Change CSS to same as kottke so it's a banner -->
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7DE27Y&placement=tomkadwillcom" id="_carbonads_js"></script>

    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>

    <p class="post-meta" style="padding-bottom: 3%">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          Originally published on: {{ page.date | date: date_format }}
        </time>
    </p>

    <div class="mailchimp-signup-form">
      <!-- Begin Mailchimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
      <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
          We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <h3 style="font-weight: bold;">Subscribe to get articles like this in your inbox, every week.</h3>
      <p>You'll get my latest blog posts as well as article, book and podcast recommendations. All about tech.</p>
      <div id="mc_embed_signup">
        <form action="https://tomkadwill.us7.list-manage.com/subscribe/post?u=858170d1a069716d224d84218&amp;id=ddcdaff721" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style="text-align: left;">
          <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_858170d1a069716d224d84218_ddcdaff721" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
        </form>
      </div>
    </div>
  </div>


<!--End mc_embed_signup-->

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>